body {
    background-color: #430D7A;
}

.container-main {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    font-family: $font;
    margin: $generic-margin;
    color: $generic-color;
    font-size: $title-size;
}