.card-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    background: rgb(91,9,130);
    background: linear-gradient(239deg, rgba(91,9,130,1) 0%, rgba(121,9,102,1) 35%, rgba(169,0,255,1) 100%);
    border-radius: $border-radius;
    padding: 50px;
    margin: $generic-margin;
    box-shadow: 1px 1px 2px 2px #320a5b;

    .img-container {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(223, 4, 252);
        border-radius: 100%;
        width: 70px;
        height: 70px;
        padding: $generic-padding;
        margin: auto;
        background: $background-color-input;
        #user {
            width: 100%;
            object-fit: cover;
        }
    }

    .title-player {
        color: $generic-color;
        font-size: 1.25em;
        text-shadow: 1px 1px 1px purple;
    }

    .card-info {
        height: 70px;
        background-color: transparent;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.149);
        border-radius: $border-radius;
        border: 1px solid $border-input-color;
        box-shadow: 1px 1px 2px 2px #320a5b;

        p {
            color: white;
        }
    }
}   