$font: arial, helvetica, sans-serif;
$generic-margin: 4%;
$generic-padding: 1.25em;
$generic-color: white;
$personalized-color: purple;
$title-size: 1.5em;
$border-radius: 1.25em;
$background-color-input: #370950;
$border-input-color: #a151f2;

@import 'base';
@import 'form';
@import 'card-play';