body {
  background-color: #430D7A;
}

.container-main {
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  margin: 4%;
  color: white;
  font-size: 1.5em;
}

#card-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgb(91, 9, 130);
  background: linear-gradient(239deg, rgb(91, 9, 130) 0%, rgb(121, 9, 102) 35%, rgb(169, 0, 255) 100%);
  border-radius: 1.25em;
  padding: 1.25em;
  margin: 4%;
  font-family: arial, helvetica, sans-serif;
  color: white;
  box-shadow: 1px 1px 2px 2px #320a5b;
  height: 330px;
}
#card-1 #form-player {
  padding: 30px;
}
#card-1 #input-base {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#card-1 #input-name,
#card-1 #input-password {
  display: flex;
}
#card-1 #input-name #name,
#card-1 #input-name #password,
#card-1 #input-password #name,
#card-1 #input-password #password {
  background-color: #370950;
  border: 1px solid #a151f2;
  border-left: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  text-rendering: optimizeSpeed;
  width: 200px;
}
#card-1 #input-name .svg-icon,
#card-1 #input-password .svg-icon {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #370950;
  border: 1px solid #a151f2;
  border-right: none;
  padding: 2px;
}
#card-1 #input-adicional {
  display: flex;
  gap: 5px;
  margin-top: 4%;
}
#card-1 #input-adicional #input-radio {
  accent-color: purple;
}
#card-1 #input-adicional #input-radio #masc,
#card-1 #input-adicional #input-radio #femi {
  border: none;
  background-color: purple;
  cursor: pointer;
}
#card-1 #input-adicional #years #idade {
  background-color: #370950;
  color: white;
  padding: 2px;
  border-radius: 1.25em;
  border: none;
  cursor: pointer;
}
#card-1 #button-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
#card-1 #button-container button {
  width: 200px;
  background-image: linear-gradient(to bottom, rgb(232, 20, 218), rgb(181, 0, 181), purple);
  border-radius: 1.25em;
  border: 1px solid rgb(223, 4, 252);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  text-shadow: 0px 1px 0px rgb(82, 3, 82);
  font-size: 1.25em;
  padding: 20px 30px 20px 30px;
  transition: background-image 2s;
}
#card-1 #button-container button:hover {
  background-image: linear-gradient(to bottom, purple, rgb(181, 0, 181), rgb(232, 20, 218));
}
#card-1 #button-container button:active {
  position: relative;
  top: 2px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  background: rgb(91, 9, 130);
  background: linear-gradient(239deg, rgb(91, 9, 130) 0%, rgb(121, 9, 102) 35%, rgb(169, 0, 255) 100%);
  border-radius: 1.25em;
  padding: 50px;
  margin: 4%;
  box-shadow: 1px 1px 2px 2px #320a5b;
}
.card-2 .img-container {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(223, 4, 252);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 1.25em;
  margin: auto;
  background: #370950;
}
.card-2 .img-container #user {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-2 .title-player {
  color: white;
  font-size: 1.25em;
  text-shadow: 1px 1px 1px purple;
}
.card-2 .card-info {
  height: 70px;
  background-color: transparent;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.149);
  border-radius: 1.25em;
  border: 1px solid #a151f2;
  box-shadow: 1px 1px 2px 2px #320a5b;
}
.card-2 .card-info p {
  color: white;
}/*# sourceMappingURL=main.css.map */